<html>
<head>
    <% include partials/head %>
</head>
<body class="container">
    <div class="container">

        <!-- <form class="form-signin"> -->
        <!-- <form class="form-signin" action="/signup" method="post"> -->
          <h2 class="form-signin-heading">Please signup</h2>
          <label for="inputName" class="">Name address</label>
          <input type="text" id="username" name="username" class="form-control"
           placeholder="Name" required="">
          <label for="inputEmail" class="">Email address</label>
          <input type="email" id="email" name="email" class=
            "form-control" placeholder="Email address" required="">
          <label for="inputPassword" class="">Password</label>
          <input type="password" id="password" name="password" 
            class="form-control" placeholder="Password" required="">
          <button class="btn btn-lg btn-primary btn-block"  id="signup">Sign in</button> 
          <!-- <button class="btn btn-lg btn-primary btn-block"  id="signup-form" type="submit">Sign in</button>  -->
           <br> 
         <!-- </form> -->
       </div>
</body>
</html>
  

    <script>
        $('#signup').click((e) => {
           data = {};
           data.username = $('#username').val();
           data.email = $('#email').val();
           data.password = $('#password').val();
           console.log(data);
           
            $.ajax({
                type: "POST",
                url: "/signup",
                // The key needs to match your method's input parameter (case-sensitive).
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data){
                  console.log(data);
                },
                failure: function(errMsg) {
                    alert(errMsg);
                }
            });

        })   
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
   